# token for this bot
BOT_TOKEN=your_bot_token
# はじめに channel ID
TOS_CHANNEL=
# ロール チャンネル ID
ROLE_CHANNEL=
# スキン チャンネルID
SKIN_CHANNEL=
# 部活動 チャンネル ID
CLUB_CHANNEL=
# はじめに(サーバー) channel ID
TOS_MCSERVER_CHANNEL=
# メンバーロール ID
MEMBER_ROLE=
# a prefix of message as a command
COMMAND_PREFIX=!
# comma-separated admin ID.
ADMINS=
# スキン 保存先
SKIN_DEST=
# ゲームチャット channel ID
GAME_CHAT_CHANNEL=
# コンソール channel ID
CONSOLE_CHANNEL=
# 新規さん通知チャンネルID
NOTIFICATION_NEWCOMER_CHANNEL=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user:pass@localhost:5432/db?schema=public"
